BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never

AlwaysBreakAfterReturnType: AllDefinitions
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: None
ColumnLimit: 0

AlignConsecutiveDeclarations: AcrossEmptyLinesAndComments
